.locations-table {
    width: 100%;
}

.manage-icons {
    font-size: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.row-clicked-cell {
    color: white;
}

.row-clicked {
    background-color: #666666;
}

.mat-column-number {
    width: 25%;
}

.mat-column-name {
    width: 45%;
}

p {
    font-size: 16px;
}

.mat-raised-button {
    padding: 3px;
    font-size: 15px;
    height: 50px;
    max-width: 85px;
    margin-left: 15px;
}

.manage-section {
    margin-bottom: 10px;
    width: 95%;
}